<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/index.css">
    <title>Home Page</title>
</head>

<body>
    <form action="/" method="POST">
        <div class="info">
            <input type="text" name="longUrl" placeholder="Enter link">
        </div>
        <div class="button-submit">
            <input type="submit" name="button" value="Get link">
        </div>
    </form>
    <div class="url-link">
        <a href="<%= link %> " target="_blank"> <%= link %> </a>
    </div>
</body>

</html>