* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container-main {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title-heading {
  font-size: 1.1rem;
  width: auto;
  margin: 1.4em 0;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 80%;
  height: 100px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info input[type="text"] {
  width: 550px;
  height: 2.6em;
  font-size: 1rem;
  border: 1px solid #afafaf;
  border-radius: 40px 0 0 40px;
  padding: 0 1em;
}

.info input[type="submit"] {
  width: 150px;
  height: 2.6em;
  border: none;
  font-size: 1em;
  cursor: pointer;
  background: #007bff;
  border-radius: 0 40px 40px 0;
  color: #eee;
  font-weight: 600;
}

.link-container {
  max-width: 80%;
}

table {
  width: 100%;
  /* border-collapse: collapse; */
  table-layout: fixed;
}
table thead tr th {
  font-size: 1.2em;
  padding: 1em;
  background-color: seagreen;
}

table tbody tr:nth-child(odd) {
  background-color: #999;
}
table tbody tr:nth-child(even) {
  background-color: #bbb;
}

table tbody tr td {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.6em 1em;
  font-size: 1em;
}

table tbody tr td a {
  text-decoration: none;
  color: initial;
}
